################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Samples/HelloWorld/.vs
/Samples/HelloWorld/HelloWorld/bin/Debug/netcoreapp2.1
/Samples/HelloWorld/HelloWorld/obj
