################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Samples/HelloWorld/.vs
/Samples/HelloWorld/HelloWorld/bin/Debug/netcoreapp2.1
/Samples/HelloWorld/HelloWorld/obj
/Samples/WebApiApp/.vs
/Samples/WebApiApp/WebApiApp/bin/Debug/netcoreapp2.1
/Samples/WebApiApp/WebApiApp/obj
/Samples/AspDotNetCoreMvcApp/.vs
/Samples/AspDotNetCoreMvcApp/AspDotNetCoreMvcApp/bin/Debug/netcoreapp2.1
/Samples/AspDotNetCoreMvcApp/AspDotNetCoreMvcApp/obj
